HELP.md
.gradle
build/
/build/
/out/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### properties ###
/src/resources/application.properties
/src/resources/application.yml


*.sql
*.dump
*.db


.env
.env.*
/src/main/resources/application.properties
/src/main/resources/application.yml
*.pem
*.key
*.p12
*.jks
*.keystore
serviceAccount*.json
client_secret*.json
oauth-*.json


